@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Inspiration&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Définir des variables de couleur */
:root {
    --couleur-nav: #000000;
    --couleur-secondaire: #2ecc71;
    --couleur-jaune: #E1C04A;
}
/* Définir des variables de police de caractères */
:root {
    --police-principale: 'Arial', sans-serif;
    --police-secondaire: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: var(--couleur-jaune);
}
.global{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EBEBEB;
}
/* Menu burger */
h2 {
  vertical-align: center;
  text-align: center;
}
html, body {
  margin: 0;
  height: 100%;
}
* {
  font-family: "Raleway";
  box-sizing: border-box;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: black;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    z-index: 20;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fff7f7;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  /*------------------- CARROUSSELLE POUR LA VERSION MOBILE -------------------*/
    /* Définition d'un container pour gérer l'affichage */
  .container {
    overflow: hidden;
    max-width: 50em;
    /* Cache les éléments qui dépassent du container */
  }
  /* Définition du carousel */
  .carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
  }
  /* Définition de l'élément contenant les diapositives */
  .carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    height: 100vh;
    /* Hauteur égale à 100% de la hauteur de la vue */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
  }
  /* Définition des diapositives */
  .slide {
    flex: 0 0 100%;
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: .5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
  }
  /* Définition de l'affichage de l'image de chaque diapositive */
  .slide img {
    width: 100%;
    /* Largeur de l'image est de 100% */
    height: 100%;
    /* Hauteur de l'image est de 100% */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
  }
  /* Définition des boutons de contrôle du carousel */
  .carousel-controls {
    position: absolute;
    /* Les boutons sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 10%;
    /* La distance à gauche est de 10% */
    right: 10%;
    /* La distance à droite est de 10% */
    top: 50%;
    /* La distance du haut est de 50% */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
  }
  /* Style des boutons de contrôle */
  .carousel-controls .btn-next {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    /* Arrière-plan en aquamarine */
  }
  /* Définition des points de contrôle */
  .carousel-dots {
    position: absolute;
    /* Les points sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 50%;
    /* La distance à gauche est de 50% */
    right: 50%;
    /* La distance à droite est de 50% */
    bottom: 10%;
    /*La distance du bas est de 10% */
    display: flex;
    /* Affiche les points en ligne */
    justify-content: center;
    /* Centrage des points */
  }
  /* Style des points de contrôle */
  .carousel-dots .dot {
    border-radius: 50%;
    /* Les points sont en forme de cercle */
    margin: 5px;
    /* Ajout d'un margin pour un meilleur contrôle */
    cursor: pointer;
    /* Curseur en forme de main pour un meilleur contrôle */
  }
  /* Styles pour les points de navigation du carrousel */
  .carousel-dots .active {
    /* Border de 10px pour le point actif */
    border: 10px solid black !important;
    /* !important permet de surcharger les autres styles éventuels */
  }
  .carousel-dots .inactive {
    /* Border de 10px pour les points inactifs */
    border: 10px solid #ffffff;
  }
  /* NAV */
  .recherche{
    display: flex;
    margin-right: -6em;
    font-size: 1.6em;
  };
  .flech{
    color: white;
  }
  /*--------------------- List films -------------------------*/
#contenu{
    overflow: hidden;
  }
  /* decor */
  .decor{
    background: var(--couleur-jaune);
    height: 0.8em;
    width: 9em;
    border-radius: 9px;
    margin-top: 1em;
  }
  .global h1{
    font-family: IM FELL Great Primer;
  }
  .agenda{
    height: 2em;
    width: 19em;
    background-color: #9b909040;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    box-shadow: 3px 5px 4px rgb(110, 106, 106);
  }
  .agenda p{
    margin-left: 5em;
  }
  .tre{
    height: 1.5em;
    width: 0.9em;
    background: var(--couleur-jaune);
    border-radius: 3px;
  }
  .parent-decor-block{
    display: flex;
    gap: 6.9em;
    margin-top: 1em;
  }
  .paren-decor{
    display: flex;
    gap: 0.4em;
  }
  .next-flesh{
    width: 1em;
    border-radius: 20px;
    background: white;
    font-size: 22px;
  }
  /* La partie dédie aux top acteurs du jour*/
  .sous-titre{
    display: flex;
    align-items: stretch;
    gap: 1em;
  }
  .sous-titre p{
    margin-left: 3em;
    color: #999999e9;
  }
  .btn-nxt{
    display: flex;
    gap: 5px;
  }
  .uk-table{
    margin: 1em 1em;
  }
    .imgFilm{
        border-radius: 10px;
        object-fit: cover;
        width: 5em;
        height: 9em;                    
    }

    #film-slider{
        position: relative;
        width: 100%;
        height: 230px;
    }
  .tableAffiche{
      position: absolute;
      /* left: -150px; */
      display: flex;
      align-items: flex-start;
      gap: 1em;
      }
  .infoFilm{
    display: flex;
    flex-direction: column-reverse;
    }
  /* ----------------------------FOOTER------------------------------ */
  .block-footer-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #312C2C;
    box-shadow: 10px 5px 5px red;
  }
  .block-footer-one p{
    color: white;
  }
  .footer-info{
    text-align: center;
    background: #312C2C;
    color: white;
  }

}


    /* ----------------------------- VERSION DESKTOP ----------------------------- */

    


  

